<div>
  <p><%= @message %></p>
  <p><%= @text %></p>
</div>

<div>
  ユーザーは、<br />
  <% @users.each do |user| %>
    <%= "name: #{user.name}" %><br />
    <%= "email: #{user.email}" %><br />
    <%= "sex: #{user.sex}" %><br />
    <%= "age: #{user.age}" %><br />
    <br />
  <% end %>
  です。<br />
</div>

<div>
  会社は、<br />
  <% @companies.each do |company| %>
    <%= "corp_number: #{company.corp_number}" %><br />
    <%= "name: #{company.name}" %><br />
    <%= "prefecture: #{company.prefecture}" %><br />
    <br />
  <% end %>
  です。<br />
</div>
